    #header {
        height: 100px;
        background-color: #A27B5C;
        text-align: center;
    }
    header h1 {
        font-family: Bitcount;
    }
    #container {
        text-align: center;
        color: wheat;
        font-size: 22px;
    }

    #sidebar {
        width: 25%;
        height: 250px;
        background-color: grey;
        float: right;
    }

    #content {
        width: 75%;
        height: 250px;
        background-color: wheat;
        float: left;
        color: black;
    }

    #footer {
        height: 50px;
        background-color: #DFD0B8;
        clear: both;
    }